/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    max-width: 1440px;
    min-width: 320px;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px 50px 50px;
}

/*********** Header ***********/
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header img{
    width: 61.09px;
    height: 19px;padding: 30px 50px 30px 50px;
}

header nav{
    display:flex;
    gap: 68px;
    padding: 0px 50px;
    justify-content: space-between;
}

header nav a{
    padding: 16px 0 0 0;
}

header nav a:hover{
    color: var(--main-color);
    border-top: solid var(--main-color) 2px;
}


main{
    display: flex;
    flex-direction: column;
    gap:35px
}

/************** Title-Info-Group **************/

.info-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.title-info-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-title{
    font-size: 22px;
    margin: 0;
}

.section-title + p{
    margin: 0;
}

/************** Search-bar **************/

form{
    display: flex;
    height: 49px;
}

#icone-location{
    width: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    align-items: center;
    color: black;
}

input{
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

::placeholder{
    color: black;
    opacity: 1;;
}

button{
    display: flex;
    padding: 15px 16px 15px 16px;
    background-color: var(--main-color);
    border-radius:0 15px 15px 0;
    color: white;
    border: #0065FC;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#icone-mobile, #phone-icone{
    display: none;
}

/*********** Filters ***********/

.filter{
    display: flex;
    align-items: center;
}

.filter-bar {
    display: flex;
    gap: 15px;
}

.filter h3{
    font-size: 18px;
    margin-right: 15px;
}

.filter-content{
    display: flex;
    height: 44px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    align-items: center;
    padding: 2px 17px;
    font-size: 17px;
    font-weight: bold;
}

.filter-content:hover{
    background-color: #DEEBFF;
}

.filter i{
    font-size: 22px;
}

/*********** Info-text ***********/

.info-text img{
    margin-right: 10px;
}
.info-text{
    display: flex;
    align-items: center;
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergement-card-block {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    justify-content: space-between;
}

.hebergement-card-block .card {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-bottom: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 261px;
    height: 100%;
}

.hebergement-card-block img{
    width: 100%;
    height: 119px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 5px;
    object-fit: cover;
}

.hebergement-card-block .hebergements-card-content{
    display: flex;
    justify-content: space-between;
}


.hebergement-card-block .hebergement-card-title {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.hebergement-card-block .hebergement-card-subtitle{
    margin: 0px;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.hebergement-card-block .hebergement-card-rating{
    margin-left: 15px;
    margin-right: 15px;
}

.hebergements .content-title{
    font-size: 18px;
    margin: 0;
    margin-top: 30px;
}
/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/

.activity-container{
    display: flex;
    padding: 30px;
    flex-direction: column;
    box-sizing: border-box;
}

.activity-container .section-title{
    margin-bottom: 30px;
}    
.activity-card-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.activity-card-container a {
    width: 100%;
    height: 439px;
    display: flex;
}

.activity-card{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex-direction: column;
    display: flex;
    width: 100%
}

.activity-card img{
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity-card .txt-content{
    padding: 20px 19px; 
}

.activity-card .card-title{
    padding: 20px 19px;
    margin: 0;
}

/****** FOOTER ***********/

footer{
    background-color: var(--main-bg-color);
    display: flex;
    margin-top: 35px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    gap: 15px;
}
.footer-container .content-title{
    margin: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .filter .content-title {
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergement-card-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergement-card-block a {
        width: 30%;
    }

    .hebergement-card-block .hebergement-card-title {
    font-size: 14px;
}

    .hebergement-card-block .hebergement-card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-container {
        width: 100%;
    }

    .activity-card-container {
        display: flex;
        flex-direction: row;
    }

    .activity-card-container a {
        height: 270px;
        display: flex;
    }
    .activity-card-container img {
        width: 100%;
        height: 200px;
        min-height: 200px;
    }

    .activity-card-container .card-title {
        font-size: 14px;
    }

    .footer-container .content-title {
        font-size: 16px;
    }

    .footer-container a {
        font-size: 14px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    /* ... */

    .main-container{
        padding: 0;
    }

        /************** HEADER **************/

    header {
        flex-direction: column;
        align-items: center;
    }

    header nav{
        display: flex;
        padding: 0;
        width: 100%;
        gap: 0;
    }

    header img{
        padding: 30px;
    }

    header nav a{
        display: flex;
        padding: 0;
        width: 50%;
        justify-content: center;
        border-bottom: 2px solid #D9D9D9;
        padding-bottom: 15px;
    }

    header nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .info-group{
        padding-left: 20px;
        padding-right: 20px;
    }
    /************** SEARCH BAR **************/

    button {
        display: none;
    }

    input{
        flex: 1;
        width: 100%;
        text-align: start;
        padding: 0 35px 0 20px;
    }

    #icone-mobile{
        display: flex;
        border: none;
        background: var(--main-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        position: relative;
        left: -12px;
        height: 49px;
    }

    #phone-icone{
        display: flex;
        color: white;
        font-size: 18px;
    }

/************** FILTERS **************/

    .filter-bar{
        
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }

    .filter-content{
        font-weight: 700;
        font-size: 14px;
        justify-content: center;
        width: 37%
    }

    /************** POPULAIRES  **************/

    .populaires{
        order: -1;
        margin: 0;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a{
        width: 100%;
    }

    /************** HEBERGEMENTS  **************/

    .hebergements-and-populaires section{
        padding: 20px;
    }

    .hebergements-and-populaires{
        gap:15px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergement-card-block{
        flex-direction: column;
        gap: 15px;
    }

    .hebergement-card-block .card{
        max-width: none;
    }

    .hebergement-card-block a{
        width: 100%;
    }

    .hebergements .content-title{
        margin-top: 15px;
    }

    /************** ACTIVITÉS À MARSEILLE  **************/

    .activity-card-container{
        flex-direction: column;
        gap: 15px;
    }

    .activity-card-container a{
        height: 200px;
    }

    .activity-card img{
        height: 141px;
        max-height: 141px;
        min-height: 141px;
    }

    /************** FOOTER **************/

    footer{
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-container{
        width: 100%;
        padding: 0;
    }
}   